/*
 HTML5/CSS3, EDGE/CHROME                                     *** Entrys.css ***

 ******************************************************************************
 * KwinFlat.ru                                        Сбросить стили браузера *
 ******************************************************************************

                                                     Автор:       Труфанов В.Е.
                                                     Дата создания:  01.11.2017
 Copyright © 2017 tve                                Посл.изменение: 30.03.2018
*/

/* Определяем фонты основным элементам формы */
.contact_form, .contact_form input, .contact_form textarea, .contact_form select
{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.7rem;
}
.form_hint, .required_notification 
{
    font-size: 1.3rem;
    display: inline-block;
}
.required_notification 
{
    color: #d45252; 
}

/* Определяем стили списка в форме */
.contact_form ul 
{
    width: 100%;
    list-style-type: none;
    list-style-position: outside;
}
.contact_form li
{
    padding: 1.2rem 0.3rem 1.2rem 0.3rem; 
    border-bottom: 0.1rem solid #DDB575;
    position: relative;
} 
/* Сворачиваем линию разграничения после последнего элемента списка */
/*.contact_form li:first-child,*/
.contact_form li:last-child 
{
    border-bottom: 0 solid #DDB575;
}

/* Определяем границы полей ввода */
.contact_form input, .contact_form textarea, .contact_form select 
{
    border: 0.1rem solid #aaa;
    box-shadow: 0 0 0.3rem #ccc, 0 1rem 1.5rem #eee inset;
    border-radius: 0.2rem;
}
/* 
 Назначаем стили основным элементам формы, предназначенным для сбора
 пользовательской информации
*/
.contact_form label 
{
    width: 20rem;
    /* margin-top: 0.1rem; */
    display: inline-block;
    float: left;
    padding: 0.3rem;
}
.contact_form input, .contact_form select 
{
    height: 2.8rem; 
    width: 22rem; 
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
}
.contact_form textarea 
{ 
    padding:0.8rem; 
    width:30rem;
}

/* Редактируем изображение кнопки */ 
button.submit {
    background-color: #68b12f;
    background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));

    background: -webkit-linear-gradient(top, #68b12f, #50911e);
    background: -moz-linear-gradient(top, #68b12f, #50911e);
    background: -ms-linear-gradient(top, #68b12f, #50911e);
    background: -o-linear-gradient(top, #68b12f, #50911e);
    background: linear-gradient(top, #68b12f, #50911e);
	
    border: 0.1rem solid #509111;
    border-bottom: 0.1rem solid #5b992b;

    -webkit-border-radius: 0.3rem;
	-moz-border-radius: 0.3rem;
	-ms-border-radius: 0.3rem;
	-o-border-radius: 0.3rem;
    border-radius: 0.3rem;

	-webkit-box-shadow: 0 0.1rem 0 0 #9fd574 inset ;
	-moz-box-shadow: 0 0.1rem 0 0 #9fd574 inset;
	-ms-box-shadow: 0 0.1rem 0 0 #9fd574 inset;
	-o-box-shadow: 0 0.1rem 0 0 #9fd574 inset;
    box-shadow: inset 0 0.1rem 0 0 #9fd574;
	
    color: white;
    font-weight: bold;
    padding: 0.6rem 2.0rem;
    margin-left: 0.3rem; /* 20rem; */
    text-align: center;
    text-shadow: 0 -0.1rem 0 #396715;
}

/* Обеспечиваем побледнение кнопки при наведении на неё курсора */	 
button.submit:hover 
{
    opacity: 0.85;
    cursor: pointer; 
}
/* Создаём изменяющий оттенок цвета при нажатии на кнопку */	 
button.submit:active 
{
    border: 0.1rem solid #20911e;
	-webkit-box-shadow:0 0 1rem 0.5rem #356b0b inset ;
	-moz-box-shadow: 0 0 1rem 0.5rem #356b0b inset;
	-ms-box-shadow: 0 0 1rem 0.5rem #356b0b inset;
	-o-box-shadow: 0 0 1rem 0.5rem #356b0b inset;
    box-shadow: 0 0 1rem 0.5rem #356b0b inset; 
}
/* Обслуживаем работу на полях ввода */
.contact_form input:focus, .contact_form textarea:focus 
{
    /* Показываем фокусирование на полях ввода */
    background: #fff; 
    border: 0.1rem solid #555; 
    box-shadow: 0 0 0.3rem #aaa;
    /* Добавляем интерактивности - заставляем выбранное в данный момент 
    поле увеличиваться путем добавления отступа */	 
    width: 24rem; 
    padding-right: 2rem;
}
.contact_form select 
{
    /* Показываем фокусирование на полях ввода */
    background: #fff; 
    border: 0.1rem solid #555; 
    box-shadow: 0 0 0.3rem #aaa;
}
/* Делаем увеличение поля гладким (чуть замедленным) переходом */	 
.contact_form input, .contact_form textarea
{ 
    -moz-transition: padding .25s;
    -webkit-transition: padding .25s;
    -o-transition: padding .25s;
    transition: padding .25s;
}
/* Добавляем пространство для звездочки в обязательных для заполнения полях */	 
.contact_form input, .contact_form textarea
{ 
   padding-right: 3rem;
}
/* Размещаем звездочку в обязательных для заполнения полях */	 
.contact_form input:required, .contact_form textarea:required 
{
   background: #fff url(/Images/red_asterisk.png) no-repeat 98% center; 
}
/* 
 Назначаем нестандартные стили недостоверным полям. Здесь определяем элементы
 формы, как невалидные, когда они находятся в фокусе: добавляем красную окантовку, 
 красную тень и красную иконку невалидного поля
*/	 
.contact_form input:focus:invalid, .contact_form textarea:focus:invalid 
{
    background: #fff url(/Images/invalid.png) no-repeat 98% center;
    box-shadow: 0 0 0.5rem #d45252;
    border-color: #b03535;  
}
/* 
 Делаем зелёную окантовку, зелёную тень и зелёную иконку с галочкой ко всем
 валидным полям, независимо от того, находятся ли они в фокусе или нет
*/	 
.contact_form input:required:valid, .contact_form textarea:required:valid
{
    background: #fff url(/Images/valid.png) no-repeat 98% center;
    box-shadow: 0 0 0.5rem #5cd053;
    border-color: #28921f; 
}

.contact_form input:valid
{
    background: #fff url(images/valid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}

/*
#Ers 
{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #FF0000;
    font-weight: bold; 
}
*/

/*
 *************************************************************** Entrys.css ***
*/
