/*
 HTML5/CSS3, EDGE/CHROME                                         *** Nav.css ***

 *******************************************************************************
 * KwinFlat.ru                                          Развернуть пункты меню *
 *******************************************************************************

                                                      Автор:       Труфанов В.Е.
                                                      Дата создания:  01.11.2017
 Copyright © 2017 tve                                 Посл.изменение: 16.02.2018
*/

/*
 * Соответствие: HTML => CSS
 * id    => #
 * class => .
 */

.linel
{
    display: inline-block;
    margin: 0.3rem 0.5% 0 0.5%;
    width: 99%;
}

#Сontents 
{
    margin: 0 0 0 0.5%; 
    width: 99.5%;
}
#Ers 
{
    text-align: left; 
    margin: 0 0 0 0.2%;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #FF0000;
    font-weight: bold; 
}
#MainCounter
{
    float: left;
    margin: 0 0.5% 0 0.5%;
}

#Pers, #Persmail 
{
    float: right;
    text-align: right; 
}

nav {
    float: left;
}

nav li 
{
    display: inline;
}

/*
 * Внешний вид всех кнопок
 */
.buttons
{
    /* font-size: 1.7rem; */  
    font-family: 'Pattaya', sans-serif;
    /* Элемент блочный - обтекается другими элементами подобно строчному */
    display: inline-block;  
    /* Отменяются все эффекты текста, в том числе и подчёркивание у ссылок */
    text-decoration: none;
    /* Цвет и фон текста кнопок */
    color: #290671;     /* #290671; black; */     
    background: #DCFA70; /* #FFAA00 */
    /* Толщина, стиль и цвет границы вокруг элемента*/
    border: 0.0rem solid #FFAA00;   /* #FFAA00 */ 
    border-radius: 0.5rem;
    /* Распределяем пространство в кнопке вокруг текста */
    padding: 0 0.5rem 0 0.5rem;
    /* Резервируем пространство расширения вокруг элемента сверху и снизу*/
    /*margin: 0.1em 0 0.1em 0;*/ 
    /* box-shadow: inset 3px 3px 3px 3px rgba(255,255,255,0.7); */
    /* box-shadow: 3px 3px 3px 3px;*/
    box-shadow: inset 0rem 0rem 1.6rem rgba(255,255,255,0.7);
}

/* 
 * Определяем анимировать все изменения свойств элемента за 0.3 секунды;
 * анимировать изменение фонового цвета за 0.5 секунд 
 * с начальной задержкой в 0.2 секунды  
*/
.buttons
{
    /* для сафари */
    -webkit-transition: -webkit-transform .3s, background-color .5s ease-in .2s;
    /* для остальных браузеров */ 
    transition: transform .3s, background-color .5s ease-in .2s;
}

/* 
 Определяем поведение кнопки меню при наведении мыши с помощью
 функции scale, увеличивающей кнопку 
*/
.buttons:hover 
{
    background-color: #FFAA00;      /* до достижения золотого цвета */
    color: white;      /* до достижения золотого цвета */
    -webkit-transform: scale(1.1);  /* трансформация для сафари */
    -ms-transform: scale(1.1);      /* трансформация для IE9 */
    transform: scale(1.1);          /* трансформация для других браузеров */
}

#plus, #pluszh, #plusus, #plusins
{
    padding: 0 0.9rem 0 0.9rem;
}

#minus, #minuszh, #minusus, #minusins
{
    padding: 0 0.8rem 0 0.8rem;
}
#minusins
{
    margin: 0 0.7rem 0 0;
}
/*
 ******************************************************************* Nav.css ***
*/	
	

