/*
 HTML5/CSS3, EDGE/CHROME                                     *** Section.css ***

 *******************************************************************************
 * KwinFlat.ru                            Отформатировать общие прямоугольники *
 *******************************************************************************

                                                      Автор:       Труфанов В.Е.
                                                      Дата создания:  01.11.2017
 Copyright © 2017 tve                                 Посл.изменение: 24.03.2018
*/

section 
{
    float: left;
    /* background-color: yellow;  для отладки */
    /* background-color: #E1EDEB; */
    background-color: #EBF2FF; 
    border-radius: 0.4rem;
    box-shadow: 0.4rem 0.4rem 0.4rem rgba(0,0,0,.5);
    margin: 0 1% 0.7rem 0;
    overflow: auto;            /* Полоса прокрутки при необходимости */ 
    max-height: 60rem;         /* Максимальная высота */ 
    padding: 0.5rem 0.5rem 0.5rem 0.5rem; 
}

#mleft 
{
    width: 56%;
}

#mright 
{
    /* background-color: yellow;   для отладки */
    width: 42%;
}

#main 
{
    /* border-bottom: 0.2em white solid; */
}

#lgoty 
{
    margin: 0.7rem 0 0 0;
}

#comm 
{
    background-color: #EBF2FF; 
}
 
#reff 
{
   /* padding: 0.5em 0.5em 0.5em 0.5em;  */
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background:  radial-gradient(farthest-corner at 50% 50%, white, #DCECF8);
    color: #0C213B;
    gorisontal-align: left;
    line-height: 1.1;
}

#laws 
{
    /* padding: 0.5em 0.5em 0.5em 0.5em; */
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background:  radial-gradient(farthest-corner at 50% 50%, white, #DCECF8);
    color: #0C213B;
}

#error 
{
   /* padding: 0.5em 0.5em 0.5em 0.5em; */
    overflow: hidden;       /* Отменили обтекание */
    background: #e2edc1;    /* Цвет фона */
}

/*
 *************************************************************** Section.css ***
*/	
	

