
p {
    font-size: 1em;
    margin: 0 0 .2em 0;
    text-align: justify;
}

.izm {
    text-align: center;
    padding 2em 20% 0 20%;
    font-size: .8em;
}

.norma {
    text-align: justify;
    color: #FF00FF;
}
