/* Cбрасываем стили браузера */
* {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol { 
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em;
	list-style: square;
}
table {
	border-spacing: 0;
} 
/* Конец кода сброса стилей браузера */


body {
}

h1 {
}

nav {
  margin-left: -0.4em; 	
  margin-top: 0.2em; 	
  margin-Bottom: 0.2em; 	
}

nav li {
  display: inline;
}

nav a {
  display: inline-block;
  text-decoration: none;
  color: #290671;     
  padding: 0.5em 0.9em;
  background: #DCFA70; 
  border-radius: 5px;
  border: 1px solid #DCFA70; 
  box-shadow: inset 0px 1px 0px rgba(255,255,255,0.7);
  text-shadow:
	0px -1px 1px rgba(000,000,000,0.2),
	0px 1px 0px rgba(255,255,255,0.3);
}
/* 
  Определяем браузеру анимировать все изменения свойств элемента а внутри nav 
  за 0.5 секунд; анимировать изменение фонового цвета за 0.9 секунд с начальной
  задержкой в 0.5 секунд  
*/
nav a {
  /* для сафари */
  -webkit-transition: -webkit-transform .5s, background-color .9s ease-in .5s;
  /* для остальных браузеров */
  transition: transform .5s, background-color .9s ease-in .5s;
}
/* 
  Определяем поведение кнопки меню при наведении мыши с помощью
  функции scale, увеличивающей кнопку 
*/
nav a:hover {
  background-color: #FFAA00;       /* до достижения золотого цвета */
  -webkit-transform: scale(1.15);  /* трансформация для сафари */
  -ms-transform: scale(1.15);      /* трансформация для IE9 */
  transform: scale(1.15);          /* трансформация для других браузеров */
}

header {
  display: block;
  /* background: #00B0D8 url(../images/Goleli.bmp) repeat-x; */
} 