/*
 HTML5/CSS3, EDGE/CHROME                                        *** Main.css ***

 *******************************************************************************
 * KwinFlat.ru                                     Развернуть главную страницу *
 *******************************************************************************

                                                      Автор:       Труфанов В.Е.
                                                      Дата создания:  01.11.2017
 Copyright © 2017 tve                                 Посл.изменение: 11.04.2018
*/

@import "Reset.css"; 
@import "Entrys.css";
@import "Examples.css";
@import "LineNav.css";
@import "Section.css";
@import "Comments.css";

@import "Refbooks.css";
@import "ViewLaws.css";

/* 
  Определяем общий режим подсказок 
*/
.notific:hover::after 
{ 
    content: attr(data-title); 
    z-index: auto; 
    display: inline-block;
    background: rgba(255,255,230,0.9); /* Полупрозрачный цвет фона */
    font-family: Arial, sans-serif; /* Гарнитура шрифта */
    font-size: 1.1rem; /* Размер текста подсказки */
    padding: 0.5rem 1rem; /* Поля */
    border: 0.1rem solid #333; /* Параметры рамки */
}
/* 
 Определяем параметры для таблиц с начислениями и льготниками 
*/
.inventory 
{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
}
.inventory td, .inventory th
{
    border: 0.1rem solid #DDB575;
    padding: 0.3rem 0.7rem 0.2rem 0.7rem;
}
.inventory th 
{
    text-transform: uppercase;
    text-align: center;
    background: rgb(229,76,16);
    background: linear-gradient(to bottom, rgb(229,76,16), rgb(173,54,8));
    color: white;
}
.inventory td 
{
    font-size: 1.7rem;
}
.inventory tr:nth-of-type(even)
{
    background-color: rgba(255,255,255,.1);
}
.inventory tr:nth-of-type(odd)
{
    background-color: rgba(229,76,16,.1);
}

/* 
  Определяем вид рейтинговых звездочек
*/
.rating 
{
    text-align: left;
}

/* 
  Определяем вид наименований услуг, единиц измерения, нормативов, тарифов и т.д.
*/
.NameUsl 
{
    text-align: left;
}
.EdIzm 
{
    text-align: center;
}
.Norma 
{
    text-align: right;
    /* color: yellow; */
}
.Dolya 
{
    text-align: right;
    /* color: yellow; */
}
.Tarif 
{
    text-align: right;
}
.Tarif:hover 
{
    background:#51AE3A;
}
.Tarif:hover a 
{
    color:#fff;
}
.Kolich 
{
    text-align: right;
}
.Kolich:hover 
{
    background:#51AE3A;
}
.Kolich:hover a 
{
    color:#fff;
}
.Nach 
{
    text-align: right;
}
.Korr 
{
    text-align: right;
}
.Korr:hover 
{
    background:#51AE3A;
}
.Korr:hover a 
{
    color:#fff;
}
.Katlgo 
{
    text-align: center;
}
.Famio 
{
    text-align: left;
}

/* 
 Определяем вид поля ввода при редактировании тарифов, количеств, корректировок
*/
.Inp 
{
    width: 6.0rem;
    text-align: right;
    font: bold;
}
.Btn 
{
    font: bold;
    padding: 0 0 0 0;
}
.Frm 
{
}

.vidblag 
{
    width:25rem; 
}

/*
 ****************************************************************** Main.css ***
*/	
	

