/** HTML5/CSS3, EDGE/CHROME                                    *** Home.css ***
 *
 ******************************************************************************
 * Kvizzy30                                           Стили домашней страницы *
 ******************************************************************************
 *
 * v4.0.1, 22.12.2024                                 Автор:      Труфанов В.Е.
 * Copyright © 2024 tve                               Дата создания: 22.12.2024
 * 
**/

/* Cбрасываем стили браузера */
*
{
   box-sizing:border-box; 
}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,
acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,
strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,
figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,
time,mark,audio,video 
{
   margin:0;
   padding:0;
   border:0;
   font-size:100%;
   vertical-align:baseline;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section 
{
   display:block;
}
/**
 * Определяем базовый шрифт, устанавливаем размеры шрифтов по умолчанию, стили
 * списков и таблиц и определяем в процентах пространство документа 
**/
html
{
   font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
   width:100%;
   height:100%;
}
body 
{
   /* Отзывчивый шрифт (width): 1920px -> 20px; 480px -> 12px */
   font-size: calc( ( 100vw - 480px ) / ( 1920 - 480 ) * ( 20 - 12 ) + 12px );
   /*background:#CCC;*/
   display:flex;
   height:100%;
   width:100%;
   overflow:hidden;
}
#Left
{
   /*background:NavajoWhite;*/ 
   background:transparent; 
   z-index:1;
   height:100%;
   width:67%;
}
#Right
{
   background:LightCyan;
   z-index:1;
   height:100%;
   width:33%;
}
#Header 
{
   background:White;
   height:20%;
   z-index:2;

   display:flex;
   align-items:center;
   justify-content:center
}
#kwf
{
   width:80%;
   height:80%;
   border:solid .3rem DarkGoldenRod;
   border-radius:20%;
   padding-bottom:.6rem;
}
#Article 
{
   /*background:LemonChiffon;*/
   background:transparent; 
   height:60%;
   z-index:2;
}
#Footer 
{
   /*background:Lavender;*/
   background:transparent; 
   height:20%;
   z-index:2;
   /*overflow:auto;*/
}
#FooterTop
{
   display:block;
   /*background:red;*/
   background:transparent; 
   width:100%;
   height:74%;
   overflow:hidden;
}
#tickers 
{
   display:flex;
   /*background:GhostWhite;*/
   background:transparent; 
   margin-top:.6%;
}
.ticker 
{
   border:solid .1rem Gray;
   text-align:left;
   overflow: hidden;
   margin-left:.4%;
   padding-left:.5%;
   padding-right:.5%;
}
/**************************************************************** Home.css ***/

